@tailwind base;
@tailwind components;
@tailwind utilities;

section#hero {
  background-image: url("/images/bar-blurred.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100;
  backdrop-filter: blur(10px);
}

/* Hamburger Menu */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 24px;
  height: 2px;
  top: 0;
  left: 0;
  background: #fff;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}
.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
}
.open .hamburger-top {
  transform: rotate(45deg) translateY(10px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateX(-10px) translateY(6px);
}

.btn-white {
  @apply text-white border-4 border-white p-4 font-bold rounded-xl bg-white bg-opacity-40 duration-200 hover:bg-opacity-100 hover:text-black active:bg-slate-200;
}

.btn-black {
  @apply text-black border-4 border-black p-4 font-bold rounded-xl bg-white bg-opacity-40 duration-200 hover:bg-opacity-100 hover:text-white active:bg-slate-200;
}

.icon {
  @apply size-10 bg-gray-300 p-2 rounded-md duration-200 hover:bg-gray-400 active:bg-gray-500;
}
