@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}

section#hero {
  background-image: url("/images/bar-blurred.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100;
  backdrop-filter: blur(10px);
}

section#about-hero {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/images/BMBS-grid.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100;
}

/* Hamburger Menu */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 24px;
  height: 2px;
  top: 0;
  left: 0;
  background: #fff;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}
.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
}
.open .hamburger-top {
  transform: rotate(45deg) translateY(10px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateX(-10px) translateY(6px);
}

.btn-white {
  @apply text-white border-4 border-white p-4 font-bold rounded-xl bg-white bg-opacity-40 duration-200 hover:bg-opacity-100 hover:text-black active:bg-slate-200;
}

.btn-black {
  @apply text-black border-4 border-black p-4 font-bold rounded-xl bg-white bg-opacity-40 duration-200 hover:bg-opacity-100 hover:text-white active:bg-slate-200;
}

.icon {
  @apply size-10 bg-gray-300 p-2 rounded-md duration-200 hover:bg-gray-400 active:bg-gray-500;
}

.input {
  @apply grow p-2 border-b-2 placeholder:font-light outline-none bg-neutral-600 border-neutral-700 placeholder:text-gray-400 font-medium text-gray-100;
}

.input-partial-border {
  position: relative;
  display: inline-block;
}

.input-partial-border input {
  border: none;
  outline: none;
  padding: 0 0.5rem;
  width: 100%; /* Ensure the input takes the full width of the container */
}

.input-partial-border::before,
.input-partial-border::after {
  background-color: rgb(209 213 219 / 1);
  content: "";
  position: absolute;
  height: 2px; /* Adjust this to your desired border thickness */
}

.input-partial-border::before {
  bottom: 0;
  left: 100%;
  width: 2px; /* Adjust the width as needed */
  height: 20px;
}

.input-partial-border::after {
  bottom: 0;
  left: 0;
  width: 100%; /* Adjust the width as needed */
}

.arrow-div:hover .arrow {
  fill: #db2777;
  color: #db2777;
}
