@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}

section#hero {
  background-image: url("/images/bar-blurred.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100;
  backdrop-filter: blur(10px);
}

section#about-hero {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/images/BMBS-grid.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100;
}

/* Hamburger Menu */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 24px;
  height: 2px;
  top: 0;
  left: 0;
  background: #fff;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}
.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
}
.open .hamburger-top {
  transform: rotate(45deg) translateY(10px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateX(-10px) translateY(6px);
}

.btn-white {
  @apply text-white border-4 border-white p-4 font-bold rounded-xl bg-white bg-opacity-40 duration-200 hover:bg-opacity-100 hover:text-black active:bg-slate-200;
}

.btn-black {
  @apply text-black border-4 border-black p-4 font-bold rounded-xl bg-white bg-opacity-40 duration-200 hover:bg-opacity-100 hover:text-white active:bg-slate-200;
}

.icon {
  @apply size-10 bg-gray-300 p-2 rounded-md duration-200 hover:bg-gray-400 active:bg-gray-500;
}

.input {
  @apply grow p-2 border-b-2 placeholder:font-light outline-none bg-neutral-600 border-neutral-700 placeholder:text-gray-400 font-medium text-gray-100 rounded;
}

.arrow-div:hover .arrow {
  fill: #db2777;
  color: #db2777;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
